/* стили секции "Особенности компании" */

.features {
  @extend %list;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: $desctop) {
      max-width: 270px;
    }
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    height: 120px;

    background-color: $secondary-bg-color;

    border-radius: 4px;
  }

  &__name {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 1.71;

    color: $secondary-text-color;
  }
}
